                                          # This file contains common pin mappings for the BIGTREETECH SKR Pico V1.0
# To use this config, the firmware should be compiled for the RP2040 with
# USB communication.

# The "make flash" command does not work on the SKR Pico V1.0. Instead,
# after running "make", copy the generated "out/klipper.uf2" file
# to the mass storage device in RP2040 boot mode

## Rolohaun3D Rook 2020 Mk2 SKR Pico V1.0 config

## *** THINGS TO CHANGE/CHECK: ***
## MCU path                                                                     [mcu] section
## Z and Extruder motor currents                                                [tmc2209 stepper_*] sections. Uncomment the stepper motor you have
## Full steps per rotation for Extruder                                         [extruder] section
## Thermistor types                                                             [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## Motor currents                                                               [extruder] [stepper] and [_HOME_X/Y] macro sections
## PID tune                                                                     [extruder] and [heater_bed] sections
## Fine tune E steps                                                            [extruder] section
## For more info                                                                check https://docs.vorondesign.com/build/startup/#v0

# See docs/Config_Reference.md for a description of parameters.
[include mainsail.cfg]
[include sensorless.cfg]

[virtual_sdcard]
path: /home/rook/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[force_move]
enable_force_move: true

#[include KlipperScreen.conf]

#[include timelapse.cfg]

[exclude_object]


[pause_resume]

[mcu]
serial: /dev/serial0 # UPDATE WITH YOUR INFO

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 10000
max_z_velocity: 300
max_z_accel: 100

#[safe_z_home]
#home_xy_position: 115,115 # Change coordinates to the center of your print bed
#speed: 50
#z_hop: 10                 # Move up 10mm
#z_hop_speed: 5


# A Stepper connected to XM
[stepper_x]
step_pin: gpio11 # checked                                          
dir_pin: !gpio10   # checked
enable_pin: !gpio12 # checked
endstop_pin: tmc2209_stepper_x:virtual_endstop
microsteps: 64 # checked
rotation_distance: 40 # checked
homing_retract_dist: 0
homing_speed: 50

position_endstop: -8.50 # NOZZLE OFFSET NEED TO THAT 0,0 FOR NOZZLE IT FRONT RIGHT
position_min: -8.50
position_max: 110

[tmc2209 stepper_x]
diag_pin: ^gpio4 # use the same pin that was previously the endstop_pin!
driver_SGTHRS: 110
uart_pin: gpio9 # checked
tx_pin: gpio8
uart_address: 0
run_current: 0.75
sense_resistor: 0.110
# stealthchop_threshold: 1

# B Stepper connected to YM
[stepper_y]
step_pin: gpio6 # checked
dir_pin: !gpio5 # checked
enable_pin: !gpio7 # checked
microsteps: 64 # checked
rotation_distance: 40 # checked

endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_speed: 50
homing_retract_dist: 0

position_endstop: -10.50 # NOZZLE OFFSET NEED TO THAT 0,0 FOR NOZZLE IT FRONT RIGHT
position_max: 110
position_min: -15.50

[tmc2209 stepper_y]
diag_pin: ^gpio3 # use the same pin that was previously the endstop_pin!
driver_SGTHRS: 110
uart_pin: gpio9
tx_pin: gpio8
uart_address: 2
run_current: 0.75
sense_resistor: 0.110
# stealthchop_threshold: 1

[stepper_z] #Connected to Z1
step_pin: gpio19
dir_pin: !gpio28
enable_pin: !gpio2
microsteps: 32
rotation_distance: 40
gear_ratio: 80:20        # Motor:Driven (20T motor drives 80T pulley)
endstop_pin: !gpio25
position_max: 87
position_min: -1.0
homing_speed: 10

[tmc2209 stepper_z]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 1
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 1

[extruder] # connected to EM
step_pin: gpio14
dir_pin: gpio13
enable_pin: !gpio15

rotation_distance: 54.3
gear_ratio: 9.5:1
microsteps: 32

nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: gpio23
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: gpio27  		#TH0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 250
max_extrude_cross_section: 5

[tmc2209 extruder]
uart_pin: gpio9 
tx_pin: gpio8
uart_address: 3
run_current: 0.75
#hold_current: 0.500
stealthchop_threshold: 0

[bed_mesh]
mesh_min: 5, 15
mesh_max: 105, 105

[heater_bed]
heater_pin: gpio21
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: gpio26
min_temp: 0
max_temp: 120
max_power: 1.0
control: pid
pid_Kp: 63.0
pid_Ki: 1.40
pid_Kd: 430.0

[temperature_fan controller_fan] # electronics fan connected to FAN3
pin: gpio20
#heater: heater_bed
#heater_temp: 45.0
sensor_type: temperature_host
control: watermark
min_temp: 0
max_temp: 100
target_temp: 30

[heater_fan hotend_fan] 		# Hotend fan connected to FAN2
pin: gpio18
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

[fan] 							# PartCooling fan connected to FAN1
pin: gpio17

## RPi or CB1 Temp
[temperature_sensor RPi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

## MCU Temp
[temperature_sensor MCU_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

# [mcu rpi]
# serial: /tmp/klipper_host_mcu

# [adxl345]
# cs_pin: rpi:None

# [resonance_tester]
# accel_chip: adxl345
# probe_points:
#     55, 55, 20  # an example

#####################################################################
# Macros
#####################################################################



[homing_override]
axes: xyz
gcode:
    {% set home_all = ("X" not in params and "Y" not in params and "Z" not in params) %}

    G90

    # --- Home X ---
    {% if home_all or 'X' in params %}
        _HOME_X
    {% endif %}

    # --- Home Y ---
    {% if home_all or 'Y' in params %}
        _HOME_Y
    {% endif %}

    # --- Home Z ---
    {% if home_all or 'Z' in params %}
        G28 Z        ; real Z homing, no override issues
    {% endif %}

    G90
    # --- Move to center after full home ---
    {% if home_all %}
       G1 X58.5 Y62.5 F6000  # Center of 117x125 bed
       G1 Z50 F2000
    {% endif %}


[bed_screws]
screw1: 55,0
screw1_name: front screw
screw2: 110,110
screw2_name: back left
screw3: 0,110
screw3_name: back right


[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customize for your slicer of choice
gcode:
    {% set BED = params.BED|float %}
    {% set EXTRUDER = params.EXTRUDER|float %}

    M190 S{BED}                     ; heat bed and wait
    M104 S{EXTRUDER}                ; start heating nozzle (no wait)
    
    G28                             ; home
    G90                             ; absolute pos
    BED_MESH_PROFILE LOAD=default   ; load mesh
    
    M109 S{EXTRUDER}                ; finish nozzle heating
    
    PRIME_LINE                      ; run your purge line
   
[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customize for your slicer of choice
gcode:
    M400                      ; wait for buffer to clear
    G90                       ; absolute positioning

    G92 E0
    G1 E-5.0 F3600            ; standard retract to reduce ooze

    ; --- Raise Z but stay within printer limits ---
    {% set z_current = printer.toolhead.position.z %}
    {% set z_max = printer.configfile.config["stepper_z"]["position_max"]|float %}
    {% set z_lift = 30.0 %}
    {% if z_current + z_lift < z_max %}
        {% set z_safe = z_current + z_lift %}
    {% else %}
        {% set z_safe = z_max %}
    {% endif %}
    G1 Z{z_safe} F3000

    ; --- Park position ---
    G1 X105 Y105 F6000

    ; --- Shutdown ---
    M104 S0                   ; turn off hotend
    M190 S0                   ; turn off bed
    M106 S0                   ; turn off part cooling fan

[gcode_macro CANCEL_PRINT]
rename_existing: CANCEL_PRINT_BASE
gcode:
    PRINT_END
    CANCEL_PRINT_BASE

[gcode_macro PRIME_LINE]
gcode: 
    M117 Prime Line
    G90
    G92 E0
    G1 Z2.0 F3000
    G1 X-1.6 Y40.0 Z0.3 F5000.0
    G1 X-1.6 Y0.0 Z0.3 F1000.0 E25
    # G1 X-1.5 Y10.0 Z0.28 F5000.0
    # G1 X-1.5 Y50.0 Z0.28 F1000.0 E30
    G92 E0
    G1 Z2.0 F3000
  
[gcode_macro LOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E30 F300                    ; load
   G1 E15 F150                    ; prime nozzle with filament
   M82                            ; set extruder to absolute
    
	
[gcode_macro UNLOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E10 F300                    ; extrude a little to soften tip
   G1 E-40 F1800                  ; retract some, but not too much or it will jam
   M82                            ; set extruder to absolute

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 41.107
#*# pid_ki = 12.457
#*# pid_kd = 33.913
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 73.0
#*# shaper_type_y = mzv
#*# shaper_freq_y = 71.2
#*#
#*# [stepper_z]
#*# position_endstop = 85.331
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.031500, -0.037250, -0.243500
#*# 	-0.013813, -0.031000, -0.171625
#*# 	0.000250, -0.035688, -0.068500
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 5.0
#*# max_x = 105.0
#*# min_y = 15.0
#*# max_y = 105.0
